################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetworkDevice_Docker_Cryptography/.vs/MyWebApp/FileContentIndex/8333b4fa-59d0-479c-978f-396fa668daba.vsidx
/NetworkDevice_Docker_Cryptography/.vs/MyWebApp/FileContentIndex/8b55fd62-60c6-4c7f-b2f0-090b6aee58dc.vsidx
/NetworkDevice_Docker_Cryptography/.vs/MyWebApp/FileContentIndex/d6fa8046-d542-419c-8b90-1686a217d97b.vsidx
/NetworkDevice_Docker_Cryptography/.vs/MyWebApp/FileContentIndex/e3d3f455-573c-42ef-a55a-2612f5f539bb.vsidx
/NetworkDevice_Docker_Cryptography/.vs/MyWebApp/FileContentIndex/fdc3ff42-2dfa-4759-93ac-3ee75e1560b3.vsidx
